*{
	box-sizing:border-box;
}
body{
		background: linear-gradient(blanchedalmond, aliceblue);
		padding-left:20px;
}

.content, .footer, .header{
	margin-left:10px;
	margin-top:10px;
	display:block;
}
.error{
	color:red;
	font-size:15px;
}

.header{
	padding-bottom:50px;
	padding-left:20px;
	border-bottom:2px solid black;
}
.s13 {
  background-image: linear-gradient(#EE5E4F 50%, #EE5E4F 50%), linear-gradient(silver 50%, silver 50%); 
  background-position: center bottom; 
  background-repeat: no-repeat; 
  background-size: 0 .063em, 100% .063em; 
  color: #607584; 
  padding-bottom: .188em; 
  transition: background-size .5s;
}
.s13:hover {
  background-size: 100% .063em, 100% .063em; 
  background-position: left bottom;
  text-decoration:none;
}
.s1 {
  background-image: linear-gradient(#FE5568 50%, #FE5568 50%), linear-gradient(silver 50%, silver 50%); 
  background-position: center bottom; 
  background-repeat: no-repeat; 
  background-size: 0 2px, 100% 2px; 
  color: #1E3A52; 
  padding-bottom: 3px; 
  transition: .5s ease-in-out;
}
.s1:hover {
  background-size: 100% 2px, 100% 2px;
  color: #FE5568;
}
