* {
	box-sizing:border-box;
}
.header {
	width:1500px;
	height:150px;
	text-align:center;
	padding-top:40px;
}
.content {
	width:1500px;
	height:700px;
	margin-left:35px;
	border-collapse:collapse;
	border-radius:10px;
}
.mcontent {
	width:1130px;
	height:700px;
	border:2px solid black;
	float:left;
	border-radius:10px;
	border-collapse:collapse;
	border-bottom:0px;
	padding:20px;
	padding-left:40px;

}
.colomn{
	float:right;
	border-left:0px;
	
}
.menu {
	border-left:2px solid black;
	width:360px;
	height:400px;
	border-radius:10px;
	border:2px solid black;
	border-collapse:collapse;
	margin-bottom:2px;
	padding-top:75px;
	font-size:20px;
}
.auth {
	border-left:2px solid black;
	width:360px;
	height:300px;
	border-top:2px solid black;
	border-right:2px solid black;
	border-radius:10px;
	padding-left:15px;
	padding-right:15px;
}
.footer {
	width:1500px;
	border-collapse:collapse;
	height:150px;
	border-top:2px;
	border:2px solid black;
	margin-left:35px;
	border-radius:10px;
	text-align:center;
	padding-top:40px;
}
body{
	background: linear-gradient(azure, bisque);
}
.s13 {
		color:#34495e; 
		line-height: 1.2; 
		position: relative; 
		padding: 0 14px; 
		text-transform: uppercase;
	}
	.s13:after {
		content: "";
		height: 100%;
		min-width: 4px;
		background: #34495e;
		position: absolute;
		left: 0;
		bottom: 0;
		transition: .5s;
	}
	.s13:hover:after {
		min-width: 100%;
		background: #95a5a6;
		opacity: .35;
	}
